<section class="about">
    <div class="about-content">
        <h3>A little bit about me...</h3>
        <div class="flex flex-center">
            <div class="col-1">
                <img class="profile-pic" src="assets/img/profile-pic2.jpg" alt="Profile Pic">
            </div>
            <div class="col-2">
                <p>My name is Masami Okada and I'm an aspiring Full Stack Developer currently based in Lübeck, Germany. Having been born and raised in San Diego, California, I've travelled the world playing football for a living for the past 10 years. I came across programming and web design on my search for an alternate career and since then I've lost myself deep in code. I have begun my education with diverse online courses through FreeCodeCamp and Codecademy and hope to expand my knowledge and skills to set me on my way to become a proficient programmer.</p>
            </div>
        </div>
    </div>
</section>
