<section class="testimonial">
    <div class="flex flex-center">
        <div class="col-3">
            <img class="quote" src="assets/img/experience/quote-white.png">
            <p>Mr. Okada has an excellent grasp of the concepts which enables him to manage even the most difficult of tasks. His good judgement allows him to make well thought out proposals and implement them in our workflow.</p>
            <p><strong>J&ouml;rn Klose, Director of Information Technology</strong></p>
        </div>
    </div>
</section>
