section
    //padding: 50px 0

.flex
    display: flex
    flex-direction: row
.flex-center
    justify-content: center
.flex-around
    justify-content: space-around
.order-first
    order: -1

.col-1
    max-width: 300px
    margin: 0 10px
.col-2
    max-width: 1000px
    margin: 0 30px

@media (max-width: 640px)
    .flex
        display: block
    .col-1
        max-width: 100%
