section.services
    margin-top: 80px
    h3
        margin: auto 10px
    .flex
        min-width: 80%
    .service-icon
        width: 90px
    h4
        margin-bottom: 20px
    .col-1
        flex-direction: column
        text-align: center
        margin: 0 30px
    @media (max-width: 767px)
        .service-icon
            width: 70px
        .col-1
            margin: 0 20px
    @media (max-width: 640px)
        .col-1
            margin: 20px 15px
