<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Masami Okada | Web Developer</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Masami Okada, Web Developer based in L&uuml;beck, Germany">
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        {{ content }}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="assets/js/functions.js"></script>
    <script src="assets/js/jquery.easing.1.3.js"></script>
</html>
